{% extends 'main.html' %} 
{% block content %}

<div class="text-center">
  <h1>Add Exercise to Workout</h1>
  <div class="d-flex justify-content-center">
    <form method="POST" class="form-inline">
      {% csrf_token %}
      <div class="form-group mr-3">
        <label for="exercise">Exercise:</label>
        <select id="exercise" name="exercise" class="form-control">
          {% for exercise in exercises %}
          <option value="{{ exercise.id }}">{{ exercise.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group mr-3">
        <label for="sets">Sets:</label>
        <input type="number" id="sets" name="sets" class="form-control" required />
      </div>
      <div class="form-group mr-3">
        <label for="reps">Reps:</label>
        <input type="number" id="reps" name="reps" class="form-control" required />
      </div>
      <div class="form-group mr-3">
        <label for="weight">Weight:</label>
        <input type="number" id="weight" name="weight" class="form-control" required />
      </div>
      <button type="submit" class="btn btn-primary my-3">Add Exercise</button>
    </form>
  </div>

  <form method="POST" action="{% url 'log_end' workout_id=workout.id %}">
    {% csrf_token %}
    <input type="hidden" name="completion_date" value="{{ date.today }}" />
    <button class="btn btn-primary my-1" type="submit">End Workout</button>
  </form>

  <h2>Exercises In Workout</h2>

  <div class="row mx-auto">
    {% if workout_exercises %} {% for exercise in workout_exercises %}
    <div class="col-sm-4 mb-4">
      <div class="card">
        <img
          class="card-img-top"
          src="{{exercise.exercise.photo_url}}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ exercise.exercise.name }}</h5>
        </div>
        {% for detail in exercise.workout_exercise_details.all %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Sets: {{ detail.sets }}</li>
          <li class="list-group-item">Reps: {{ detail.reps }}</li>
          <li class="list-group-item">Weight: {{ detail.weight }}</li>
        </ul>
        <div class="card-body">
          <form method="POST" action="{% url 'add_workout' workout.id %}">
            {% csrf_token %}
            <input type="hidden" name="remove_exercise" value="{{ workout_exercise.id }}">
            <button type="submit" class="btn btn-danger">Remove Exercise</button>
        </form>
        {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>No exercises added to this workout.</p>
    {% endif %}
  </div>
</div>
  {% endblock %}

