{% extends 'main.html' %}

{% block content %}

<div>
    {% if request.user == exercise.user %}
    <a href="{% url 'update_exercise' exercise.id %}"> Edit </a>
    <a href="{% url 'delete_exercise' exercise.id %}"> Delete </a>
    {% endif %}
    <h1> {{exercise.name}} </h1>
    <h3> Target Area: {{exercise.body_part}} </h3>
    <h3> Equipment: {{exercise.equipment}} </h3>
    <h3> Description: {{exercise.description}} </h3>
    <img src="{{exercise.photo_url}}">
</div>

{% endblock content %}