{% extends 'main.html' %} {% block content %}
<div class="text-center">
    <a href="/exercises/" class="btn btn-secondary">Back</a>
  <div class="card mx-auto" style="width: 18rem">
    <img
      class="card-img-top"
      src="{{exercise.photo_url}}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{exercise.name}}</h5>
      <p class="card-text">{{exercise.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Target Area: {{exercise.body_part}}</li>
      <li class="list-group-item">Equipment: {{exercise.equipment}}</li>
    </ul>
    {% if request.user == exercise.user %}
    <div class="card-body">
      <a href="{% url 'update_exercise' exercise.id %}" class="btn btn-primary"
        >Edit</a
      >
      <a href="{% url 'delete_exercise' exercise.id %}" class="btn btn-danger"
        >Delete</a
      >
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
