{% extends 'main.html' %} {% block content %} {% load static %}
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'home/css/bootstrap.css' %}"
  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
</head>

<div class="text-center">
  {% if request.user.is_authenticated %}
  <div>
    <h1>Welcome, {{user.username}}!</h1>
    <div id="calendar"></div>
  </div>
  <script>
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        events: '{% url "get_sessions" %}',
        eventClick: function(calEvent, jsEvent, view) {
          window.location.href = calEvent.url;
        }
      });
    });
  </script>
  {% else %}
  <h1>Welcome to WorkoutBuddy</h1>
  <div class="container" style="display: flex; flex-direction: column">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="position: relative; height:90vh;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="ratio ratio-16x9">
          <img src="https://i.imgur.com/xLtRBhn.png" class="d-block w-100" alt="...">
        </div>
        </div>
        <div class="carousel-item">
          <div class="ratio ratio-16x9">
          <img src="https://i.imgur.com/9pLv80s.png" class="d-block w-100" alt="...">
        </div>
        </div>
        <div class="carousel-item">
          <div class="ratio ratio-16x9">
          <img src="https://i.imgur.com/71nFTBu.png" class="d-block w-100" alt="...">
        </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card-container" style="display: flex; height: 50%">
      <div class="card" style="flex: 1; margin: 0 10px">
        <div class="card-body">
          <h5 class="card-title">Current Users</h5>
          <p class="card-text">
            If you are already registered, login here!
          </p>
          <a href="/login/" class="btn btn-primary"> Login </a>
        </div>
      </div>
      <div class="card" style="flex: 1; margin: 0 10px">
        <div class="card-body">
          <h5 class="card-title">New Users</h5>
          <p class="card-text">
            If you are a new user, sign up here!
          </p>
          <a href="/register/" class="btn btn-primary">Register</a>
        </div>
      </div>
      <div class="card" style="flex: 1; margin: 0 10px">
        <div class="card-body">
          <h5 class="card-title">Our Mission</h5>
          <p class="card-text">
            We wanted to create a free application that you can
            use to keep track of your workouts and share your exercises
            with other users!
          </p>
        </div>
      </div>
    </div>
  </div>

  {% endif %}
</div>
{% endblock content %}
