{% extends 'main.html' %} 

{% block content %}

{% if page == 'login' %}
<div>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
      <label> Username </label>
      <input class="form-control" type="text" name="username" placeholder="Username" />
      <small class="form-text text-muted">We'll never share your information with anyone else.</small>
    </div>
    <div class="form-group">
      <label> Password: </label>
      <input class="form-control" type="password" name="password" placeholder="Password" />
    </div>
    <input class="btn btn-primary" type="submit" value="Login" />
  </form>

  <p> Haven't signed up yet?</p>
  <a href="{% url 'register' %}"> Sign up </a>
</div>

{% else %}

<div>
    <form method="POST" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Register" />
    </form>

    <p> Already signed up?</p>
    <a href="{% url 'login' %}"> Login </a>
</div>
{% endif %}

{% endblock content %}
