{% load static %}
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'home/css/bootstrap.css' %}"
  />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"> WorkoutBuddy </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if request.user.is_authenticated %}
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/exercises/"> Exercises </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log/"> Log </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/"> Profile </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sessions/"> Sessions </a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item ms-auto">
        <a class="nav-link" href="{% url 'logout' %}"> Logout </a>
      </li>
    </ul>

    {% else %}
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}"> Login </a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>
