{% extends 'main.html' %} {% block content %}
<div class="text-center">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Profile Information</h5>
          <p class="card-text">Username: {{ user.username }}</p>
          <p class="card-text">Email: {{ user.email }}</p>
          <p class="card-text">Current weight: {{ current_weight }}</p>
          <p class="card-text">Goal weight: {{ goal_weight }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          <p class="card-title">Weight Progress</p>
          <div class="mx-auto" style="max-width: 800px;">
            <div class="progress" style="max-width: 800px;">
              <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
                {{ progress }}%
              </div>
            </div>
          </div>
        </div>
      </div>
    <div style="margin-top: 20px;">
    <a href="{% url 'edit_user_profile' %}" class="btn btn-primary"
      >Edit Profile</a
    >
    <a href="{% url 'add_update_current_weight' %}" class="btn btn-primary"
      >Update Weight</a
    >
    </div>
  </div>
</div>
{% endblock content %}
